@media (max-width:767px){

/* mobile-responsive */
/* top section */
	.logo{
		width:30%;
	}
	.title-image{
		max-width:80%;
		margin-left: 50px;
	}
	.big-heading{

		font-size: 1.8rem;
		text-align: center;

	}
	.text{
		font-size: 17px;

	}
	.text1{
		text-align: center;
		font-size: 17px;
	}
  .btn1{

    margin-top: 40px;
	}
	.big-heading{
	}
	/* middle-section */
	.mid-heading{
		text-align: center;
		font-size: 25px;
	}
	.content-image2{

		max-width: 80%;
		margin-top: 60px;
		margin-left: 70px;
	}

	.btn2{
		margin-left:100px;
		margin-bottom: 20px;
	}
	.btn3{
		position:relative;

		margin-left: 50px;
		bottom:70px;
		font-size: 12px;
		height:40px;
		max-width:70%;

	}
	/* botton-section */
	.container4{
		margin-left: 40px;
		max-width:80%;
		height:30px;
		border:solid white;
		/* margin-left: 400px; */
		background-color:#fff;
	}
	.foot-head{

		/* margin-left: 50px; */
		margin-bottom: 30px;
		font-size: 19px;
	}
	.logo2{
		max-width: 20%;
	}
	.col-lg-3{
		margin-left: 30px;
	}


}
